<!doctype html>
<html ng-app="presentation">
<head>
  <meta charset="utf-8">
  <title>Angular Components</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="bower_components/reveal.js/css/theme/sky.css">
  <link rel="stylesheet" type="text/css" href="bower_components/highlightjs/styles/monokai.css">
</head>
<body>
  <div class="reveal">
    <div class="slides">
      <section class="present">
        <h2>Angular Componentization</h2>
        <p>by Nicholas Boll</p>
      </section>
      <section>
        <h2>Who Am I?</h2>
        <ul>
          <li><a href="http://twitter.com/NicholasBoll">@NicholasBoll</a></li>
          <li>nicholas.boll@gmail.com</li>
          <li>I'm a Software Engineer at LogRhythm</li>
          <li>I've been using AngularJS for about 1.5 years</li>
        </ul>
      </section>
      <section>
        <h2>What is this talk about?</h2>
        <ul>
          <li>Thinking in terms of components</li>
          <li>Breaking up an application into pieces</li>
        </ul>
      </section>
      <section>
        <h2>What is a component?</h2>
        <ul>
          <li>Reusable</li>
          <li>Documented</li>
          <li>Tested</li>
          <li>Designed for unforeseen</li>
        </ul>
      </section>
      <section>
        <h2>Component architecture</h2>
        <ul>
          <li>Can be any part of the architecture</li>
          <li>Angular is meant to be composable</li>
          <li>Directives are composable (they can require each other)</li>
          <li>DI is about composition over inheritance</li>
        </ul>
      </section>
      <section>
        <section>
          <h2>Component?</h2>
          <img src="img/lego.jpg">
        </section>
        <section>
          <h2>Legos</h2>
          <ul>
            <li>Reusable</li>
            <li>Composable</li>
            <li>Can be put together to form shapes</li>
            <li class="fragment">Not exactly what I'm talking about</li>
          </ul>
        </section>
        <section>
          <p>Lego pieces are more like <code>ng-*</code> directives</p>
        </section>
      </section>
      <section>
        <section>
          <h2>Component!</h2>
          <img src="img/lego-components.jpg">
          <p>
            <small>Photo credit: <a href="http://cdn.nextgov.com/media/img/upload/2014/01/22/012214legosNG/nextgov-medium.jpg">Nextgov.com</a></small>
          </p>
        </section>
        <section>
          <h2>Lego component</h2>
          <ul>
            <li>Reusable</li>
            <li>Composable</li>
            <li>Higher level abstraction</li>
            <li class="fragment">It's a duck!</li>
          </ul>
        </section>
        <section>
          <p>
            These duck components are made up of smaller pieces.
            They form a modular, cohesive unit that we can easily
            identify.
          </p>
        </section>
      </section>
      <section>
        <section>
          <h2>More animal abstractions? WTF?</h2>
          <p>What about Angular?</p>
        </section>
        <section>
          <h2>Real world?</h2>
          <pre><code class="language-html">
<div class="btn-group" dropdown is-open="status.isopen">
  <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
    Button dropdown <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
          </code></pre>
          <p><a href="https://angular-ui.github.io/bootstrap/#dropdown">https://angular-ui.github.io/bootstrap/#dropdown</a></p>
        </section>
        <section>
          <p>That looked like Lego bricks, right?</p>
        </section>
        <section>
          <pre><code class="language-html">
&lt;ui-dropdown
  ui-dropdown-options="example.options"
  ng-model="example.selected"
>&lt;/ui-dropdown>
          </code></pre>
          <p><a href="http://localhost:3002/#/components/dropdown">Local project, sorry</a></p>
        </section>
        <section>
          <h2>Better, right?</h2>
          <ul>
            <li>The Lego bricks are in the directive template</li>
            <li>Actually made up of smaller components</li>
            <li>Composable</li>
          </ul>
        </section>
        <section>
          <h2>Decorators!</h2>
          <ul>
            <li><code>ui-dropdown-options</code> is actually a decorator</li>
          </ul>
        </section>
        <section>
          <pre><code class="language-coffeescript">
myModule.directive 'uiDropdownOptions', ($parse) ->
  restrict: 'A'
  require: 'uiDropdown'

  link: ($scope, $element, $attrs, dropdownCtrl) ->

    $scope.$watch $parse($attrs.uiDropdownOptions), (options) ->
      return unless options
      dropdownCtrl.setOptions options
          </code></pre>
        </section>
        <section>
          <h2>Flexible</h2>
          <ul>
            <li>Don't need to use static options</li>
            <li>How about async options?</li>
          </ul>
        </section>
        <section>
          <pre><code class="language-coffeescript">
myModule.directive 'asyncDropdownOptions', ($timeout) ->
  restrict: 'A'
  require: 'uiDropdown'

  link: ($scope, $element, $attrs, dropdownCtrl) ->
    watches = []

    getOptions = ->
      # simulate a request from the server
      $timeout ->

        # Update the options
        dropdownCtrl.setOptions [
          { name: 'abc', value: 1 }
          { name: 'cde', value: 2 }
          { name: 'efg', value: 3 }
          { name: 'ghi', value: 4 }
          { name: 'ijk', value: 5 }
          { name: 'klm', value: 6 }
          { name: 'mno', value: 7 }
          { name: 'opq', value: 8 }
          { name: 'qrs', value: 9 }
          { name: 'stu', value: 10 }
          { name: 'uvw', value: 11 }
          { name: 'wxy', value: 12 }
        ]
      , 50, false

    watches.push dropdownCtrl.model.watch 'opened', (opened) ->
      if opened
        getOptions()
      else
        dropdownCtrl.setOptions [] # remove all options when closed - prevents flashing when opening

    $scope.$on '$destroy', ->
      unwatch() for unwatch in watches
          </code></pre>
        </section>
        <section>
        <h2>Composing in our application</h2>
          <pre><code class="language-html">
&lt;ui-dropdown
  ui-dropdown-keys="{ display: 'display', selected: 'selected' }"
  ui-dropdown-url="/html/templates/distinct-value.html"
  distinct-value-dropdown="alarmStatus"
  distinct-value-index="ALARM_INDEX_ID"
  distinct-value-transform="AlarmOptions.FilterByAlarmStatusOptions"
  lucene-query="alarmQuery"
  lucene-query-filter="{ field: 'alarmStatus', type: 'Number', modelKey: 'value' }"
  ng-model="AlarmsFilters.filters.byAlarmStatus"
  ng-class="{applied : AlarmsFilters.filters.byAlarmStatus.value !== AlarmsFilters.defaultFilters().byAlarmStatus.value}"
>&lt;/ui-dropdown>
          </code></pre>
        </section>
        <section>
          <ul>
            <li><code>ui-dropdown</code> component + decorators</li>
            <li><code>distinct-value</code> decorator (provides data)</li>
            <li><code>lucene-query-filter</code> decorator (modifies filter object)</li>
            <li><code>ng-model</code> decorator (value of dropdown)</li>
            <li><code>ng-class</code> decorator (modifies style)</li>
          </ul>
        </section>
      </section>
      <section>
        <section>
          <h2>How to do this in Angular?</h2>
        </section>
        <section>
          <h2>Why is this hard?</h2>
        </section>
        <section>
          <h2>Examples suck</h2>
        </section>
        <section>
          <h2>Todo MVC</h2>
          <iframe src="http://todomvc.com/examples/angularjs/#/" style="width: 75%; height: 600px;"></iframe>
        </section>
        <section>
          <pre><code class="language-html">
&lt;section id="todoapp">
  &lt;header id="header">
    &lt;h1>todos&lt;/h1>
    &lt;form id="todo-form" ng-submit="addTodo()">
      &lt;input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
    &lt;/form>
  &lt;/header>
  &lt;section id="main" ng-show="todos.length" ng-cloak>
    &lt;input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    &lt;label for="toggle-all">Mark all as complete&lt;/label>
    &lt;ul id="todo-list">
      &lt;li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        &lt;div class="view">
          &lt;input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
          &lt;label ng-dblclick="editTodo(todo)">{{todo.title}}&lt;/label>
          &lt;button class="destroy" ng-click="removeTodo(todo)">&lt;/button>
        &lt;/div>
        &lt;form ng-submit="saveEdits(todo, 'submit')">
          &lt;input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
        &lt;/form>
      &lt;/li>
    &lt;/ul>
  &lt;/section>
  &lt;footer id="footer" ng-show="todos.length" ng-cloak>
    &lt;span id="todo-count">&lt;strong>{{remainingCount}}&lt;/strong>
      &lt;ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }">&lt;/ng-pluralize>
    &lt;/span>
    &lt;ul id="filters">
      &lt;li>
        &lt;a ng-class="{selected: status == ''} " href="#/">All&lt;/a>
      &lt;/li>
      &lt;li>
        &lt;a ng-class="{selected: status == 'active'}" href="#/active">Active&lt;/a>
      &lt;/li>
      &lt;li>
        &lt;a ng-class="{selected: status == 'completed'}" href="#/completed">Completed&lt;/a>
      &lt;/li>
    &lt;/ul>
    &lt;button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed&lt;/button>
  &lt;/footer>
&lt;/section>
          </code></pre>
        </section>
        <section>
          <h2>Ouch</h2>
          <ul>
            <li>One GIANT HTML file</li>
            <li>No components</li>
            <li><code>ng-*</code> soup</li>
          </ul>
        </section>
        <section>
          <h2>Break it up</h2>
        </section>
        <section>
          <img src="img/todo-breakdown.png">
        </section>
      </section>
      <section>
        <section>
          <h2>How do we do it?</h2>
        </section>
        <section>
          <ul>
            <li>Angular coins itself as an MV* framework</li>
            <li class="fragment">Isn't it more like a *VC framework?</li>
            <li class="fragment">All components should have a formal model</li>
          </ul>
        </section>
        <section>
          <ul>
            <li>Restrict UI component to <code>element</code></li>
            <li>Isolate scope (element owns scope)</li>
            <li>Break UI out of application</li>
            <li>Expose API (controller and model)</li>
            <li>No data access in UI Component</li>
            <li>Use decorators for data access</li>
            <li>Lots of tests</li>
            <li class="fragment">Don't use <a href="http://teropa.info/blog/2014/10/24/how-ive-improved-my-angular-apps-by-banning-ng-controller.html">ng-controller</a></li>
            <li class="fragment">Don't use <code>ng-include</code></li>
          </ul>
        </section>
        <section>
          <h2><a href="https://github.com/autoric/scheming">Scheming</a> Models</h2>
          <ul>
            <li class="fragment">Strongly typed</li>
            <li class="fragment">Observable</li>
            <li class="fragment">Nested models</li>
            <li class="fragment">Peformant deep watches</li>
            <li class="fragment">Local <code>$scope.$digest()</code> for performance</li>
            <li class="fragment">Allows us to detach <code>$scope</code> for performance</li>
            <li class="fragment">Throttled to <code>requestAnimationFrame</code> for efficient DOM writes</li>
          </ul>
        </section>
        <section>
          <h2>Our Component repository</h2>
          <p><a href="http://localhost:3002/#/components/dropdown">Local repo, sorry</a></p>
        </section>
        <section>
          <h2>Our Application</h2>
          <p><a href="http://localhost:8080/">Local app, sorry</a></p>
        </section>
      </section>
      <section>
        <h2>Questions?</h2>
      </section>
    </div>
  </div>
  <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
  <script src="bower_components/reveal.js/js/reveal.js"></script>
  <script src="bower_components/reveal.js/plugin/notes/notes.js"></script>
  <script>
    Reveal.initialize({
      dependencies: [
        { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ],
      history: true
    });
  </script>
</body>
</html>
